.tile {
  display: grid;
  place-content: center;
  width: 6.25vw;
  height: 6.25vw;
}

.tile .chess-piece {
  width: 6.25vw;
  height: 6.25vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5vw;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
  cursor: grabbing;
}

.black-tile {
  background-color: #779556;
}

.white-tile {
  background-color: #ebecd0;
}

.tile img {
  width: 6.25vw;
}
