.moves {
  margin: 30px 5px;
  padding-left: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.movecounts {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
}
.move {
  margin-left: 5px;
}
